html,body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #f16900;
    text-align: center;
}

.space{
    margin-top: 10px;
}

.gap{
    margin-top: 50px;
}